body{
}

#chart{
  background: #e2e2e2;
  margin: 100px auto;
  border: 1px solid black;
}

.display{
  border: 1px solid red;
}

.point{
  stroke:purple;
  fill:none;
}

.trendline{
  fill: none;
  stroke: red;
  stroke-width: 4px;
}

.area{
  fill: skyblue;
}
